

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
body {
  background: white;
  min-height: 200vh;
}

/* navbar */
.navbar {
  width: 100%;
  padding: 25px;
  transition: all 0.3s ease;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
}
.navbar.sticky {
  padding: 10px 100px;
  background-color: rgba(0, 0, 0, 0.856);
}
.navbar.sticky .logo {
  color: white;
}
.navbar.sticky .collapse .navbar-nav li a {
  color: white;
}
.collapse .navbar-nav li a {
  display: inline-block;
  color: rgb(5, 2, 2);
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: all 0.2s ease;
  border-radius: 3px;
  transition-delay: -0, 3ms ease;
}

.collapse .navbar-nav li a:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(141, 103, 78);
  transition: all 0.2s ease;
}

.logo {
  position: relative;
  font-weight: 100rem;
  color: #000;
  text-decoration: none;
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0, 6s;
}

section {
  padding-top: 7.5rem;
}

.home {
  background-color:black;
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.icon {
  color: rgb(141, 103, 78);
}
.fas {
  color: rgb(141, 103, 78);
}
#contact a {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.2s ease;
  border-radius: 4px;
  transition-delay: -0, 3ms ease;
  background-color: rgb(61, 42, 29);
}

#contact a:hover {
  color: rgb(141, 103, 78);
  background: none;
  transition: all 0.2s ease;
}
#home a {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.2s ease;
  border-radius: 4px;
  transition-delay: -0, 3ms ease;
  background-color: rgb(61, 42, 29);
}

#home a:hover {
  color: rgb(141, 103, 78);
  background: none;
  transition: all 0.2s ease;
}
#darkMode {
  position: fixed;
  padding-top: 100px;
  padding-left: 1200px;
}

.typing2{
    font-size: 12px;
}
.typing3{
    font-size: 12px;
}
.typing4{
    font-size: 12px;
}
.typing5{
    font-size: 12px;
}

.skill {
    background-color: rgb(14, 13, 13);
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
  }
.contact {
    background-color: rgb(14, 13, 13);
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
  }

  .title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .section-title {
    position: relative;
    color: #000;
    font-size: 2.2rem;
    font-weight: 800;
    margin-bottom: 50px;
  }

  .section-title:before {
    content: '';
    position: absolute;
    top: 60px;
    left: 85px;
    width: 140px;
    height: 4px;
    background: rgb(141, 103, 78);
    transform: translateX(-50%);
  }

  .section-title:after {
    content: '';
    position: absolute;
    top: 55px;
    left: 80px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(141, 103, 78);
    transform: translateX(-50%);
  }

  #skills .section-title:before{
    content: '';
    position: absolute;
    top: 60px;
    left: 50px;
    width: 140px;
    height: 4px;
    background: rgb(141, 103, 78);
    transform: translateX(-50%);
  }
  #skills .section-title:after {
    content: '';
    position: absolute;
    top: 55px;
    left: 50px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(141, 103, 78);
    transform: translateX(-50%);
  }

  #project .section-title:before{
    content: '';
    position: absolute;
    top: 60px;
    left: 85px;
    width: 140px;
    height: 4px;
    background: rgb(141, 103, 78);
    transform: translateX(-40%);
  }

  #project .section-title:after {
    content: '';
    position: absolute;
    top: 55px;
    left: 100px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(141, 103, 78);
    transform: translateX(-40%);
  }

  #contact .section-title:before{
    content: '';
    position: absolute;
    top: 60px;
    left: 105px;
    width: 140px;
    height: 4px;
    background: rgb(141, 103, 78);
    transform: translateX(-50%);
  }
  #contact .section-title:after{
    content: '';
    position: absolute;
    top: 55px;
    left: 100px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(141, 103, 78);
    transform: translateX(-50%);
  }

  .fotter{
    background: #000;
  }

  .project {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .project .content .card{
    width: 400px;
    margin: 15px;
  }
.project .content .card .card-img {
  position: relative;
  width: 100%;
  height: 260px;
  overflow: hidden;
  border-radius: 10px;
}

#about .textBottomC {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.2s ease;
  border-radius: 4px;
  transition-delay: -0, 3ms ease;
  background-color: rgb(61, 42, 29);
}

#about .textBottomC:hover {
  color: rgb(141, 103, 78);
  background-color: rgb(61, 42, 29);
  transition: all 0.2s ease;
}

#project a {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.2s ease;
  border-radius: 4px;
  transition-delay: -0, 3ms ease;
  background-color: rgb(61, 42, 29);
}

#project a:hover {
  color: rgb(141, 103, 78);
  background-color: rgb(61, 42, 29);
  transition: all 0.2s ease;
}





